// Main Colors
$primary-color: transparent;
$secondary-color: transparent;

// Color Accents (if any)
$first-accent: transparent;
$second-accent: transparent;
$third-accent: transparent;
$fourth-accent: transparent;

// Other Colors
$light-color: #f2f2f2;
$dark-color: #333;
$darker-color: #222;

// Neutral Colors
$white: #fff;
$black: #000;

// Set Color Lightness
$primary-color-light: lighten($primary-color, 10%);
$secondary-color-light: lighten($secondary-color, 10%);

// Set Color Darkness
$primary-color-dark: darken($primary-color, 10%);
$secondary-color-dark: darken($secondary-color, 10%);

// Set Container Width
$container-width: 1080px;

// Font Stacks (Default)
$font-stack: 'Nunito', sans-serif;

// Font Stacks (Web Safe Fonts) -- 1
$font-sans-stack-1: Arial, Helvetica, sans-serif;
$font-serif-stack-1: 'Times New Roman', Times, serif;

// Font Stacks (Goggle Fonts) -- 2
$font-sans-stack-2: 'Nunito', sans-serif;
$font-serif-stack-2: initial;

// Functions
@function set-color($color) {
  @if (lightness($color) > 70) {
    @return $black;
  } @else {
    @return $white;
  }
}
