// Not included in 'reset.scss', so I added it here
a {
  text-decoration: none;
}

// Using 'border-box' for font-awesome icons will mess them up
i {
  box-sizing: content-box;
}

// Feel free to change this to your liking (1.5 is default)
p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: set-color($defaut-color);
}

body {
  font-family: $font-stack;
  overflow: auto;
  @include dynamic-color($defaut-color);
}

.container {
  max-width: $container-width;
  margin: auto;
}
