@import 'reset';
@import 'animate';
@import 'hamburgers';

a {
  text-decoration: none;
}

body {
  font-family: 'Nunito', sans-serif;
}

section {
  display: flex;
  height: 100vh;

  h1 {
    margin: auto;
    font-size: 4rem;
  }
}
