@import 'reset';
@import 'animate';
@import 'hamburgers';
@import 'config';
@import 'global';
@import 'modal';
@import 'form';
@import 'buttons';
@import 'header';

section {
  display: flex;
  flex-direction: column;

  &:first-child {
    height: 100vh;
  }

  .start {
    margin: auto;
    text-align: center;

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2.5rem;
    }
  }
}

@import 'sidebar';
@import 'footer';
@import 'tablet';
@import 'mobile';
