@import 'reset';
@import 'animate';
@import 'hamburgers';
@import 'config';

a {
  text-decoration: none;
}

i {
  box-sizing: content-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: $black;
}

body {
  font-family: $font-stack;
  overflow: auto;
  background-color: $white;
}

.container {
  max-width: $container-width;
  margin: auto;
}

section {
  display: flex;

  &:first-child {
    height: 100vh;
  }

  h1 {
    margin: auto;
    font-size: 4rem;
  }
}
