// Main Colors
$main-color: transparent;
$alt-color: transparent;

// Color Accents (if any)
$main-accent: transparent;
$alt-accent: transparent;

// Light/Dark Colors
$lighter: #f2f2f2;
$light: #bbb;
$gray: #888;
$dark: #333;
$darker: #222;

// Default Background Color
$defaut-color: transparent;

// Font Stacks (Default)
$font-stack: 'Nunito', 'Open Sans', 'Lato', 'Exo 2', 'Montserrat', sans-serif;
$font-stack-alt: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
  sans-serif;

// Font Stacks (Web Safe Fonts)
$font-stack-serif: 'Times New Roman', Times, serif;
$font-stack-sans: Arial, Helvetica, sans-serif;

// Set Default Shadow
$shadow: 2px 2px 8px #888888;

// Set Alternative Shadow
$shadow-alt: 2px 2px 4px #888888;

// Set Default Inset Shadow
$shadow-inset: inset 2px 2px 4px #888888;

// Set Alternative Inset Shadow
$shadow-inset-alt: inset 2px 2px 8px #888888;

// Set Color Lightness
$light-color: lighten($main-color, 10%);

// Set Color Darkness
$dark-color: darken($main-color, 10%);

// Set Default Container Width
$container-width: 1080px;

// Set Alternative Container Width
$container-width-alt: 960px;

// Set Header Container Width
$header-width: 1080px;

// Set Footer Container Width
$footer-width: 1080px;

// Functions (Set Dynamic Text Color)
@function set-color($color) {
  @if (lightness($color) >= 45 or $color == transparent) {
    @return black;
  } @else {
    @return white;
  }
}

// Mixins (Set Dynamic Text Color)
@mixin dynamic-color($color) {
  background-color: $defaut-color;
  color: set-color($defaut-color);
}
