// Main Colors
$primary-color: transparent;
$secondary-color: transparent;

// Color Accents (if any)
$first-accent: transparent;
$second-accent: transparent;
$third-accent: transparent;
$fourth-accent: transparent;

// Light/Dark Colors
$light: #f2f2f2;
$gray: #888;
$dark: #333;
$darker: #222;

// Default Background Color
$defaut-color: transparent;

// Font Stacks (Default)
$font-stack: 'Nunito', 'Open Sans', 'Lato', 'Exo 2', 'Montserrat', sans-serif;

// Font Stacks (Web Safe Fonts)
$font-stack-serif: 'Times New Roman', Times, serif;
$font-stack-sans: Arial, Helvetica, sans-serif;

// Set Default Shadow
$shadow: 2px 2px 8px #888888;

// Set Alternative Shadow
$shadow-alt: 2px 2px 4px #888888;

// Set Default Inset Shadow
$shadow-inset: inset 2px 2px 4px #888888;

// Set Alternative Inset Shadow
$shadow-inset-alt: inset 2px 2px 8px #888888;

// Set Color Lightness
$primary-color-light: lighten($primary-color, 10%);
$secondary-color-light: lighten($secondary-color, 10%);

// Set Color Darkness
$primary-color-dark: darken($primary-color, 10%);
$secondary-color-dark: darken($secondary-color, 10%);

// Set Default Container Width
$container-width: 1080px;

// Set Alternative Container Width
$container-width-alt: 960px;

// Set Header Container Width
$header-width: 1080px;

// Set Footer Container Width
$footer-width: 1080px;

// Functions (Set Dynamic Text Color)
@function set-color($color) {
  @if (lightness($color) >= 45 or $color == transparent) {
    @return $black;
  } @else {
    @return $white;
  }
}

// Mixins (Set Dynamic Text Color)
@mixin dynamic-color($color) {
  background-color: $defaut-color;
  color: set-color($defaut-color);
}
