@import 'reset';
@import 'config';
@import 'global';
@import 'modal';
@import 'form';
@import 'buttons';
@import 'header';

section {
  display: flex;
  flex-direction: column;

  &:first-child {
    height: 100vh;
  }

  .start {
    margin: auto;
    text-align: center;

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    // Mobile-first or Desktop-first (take your pick)
    // Hint: Use min-width for mobile-first
    // Hint: Use max-width for desktop-first
    @media (max-width: 768px) {
      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2.25rem;
      }
    }

    @media (max-width: 640px) {
      h1 {
        font-size: 2.5rem;
      }

      h2 {
        font-size: 1.75rem;
      }
    }
  }
}

@import 'sidebar';
@import 'footer';
@import 'tablet';
@import 'mobile';
